
<div class="container">
    <div style="text-align: center; border: 1px solid black; " >
        <div style="margin-bottom: 10px;" >
            <h1>User Details</h1>
        </div>
        <div class="content-container" style="display: flex;" >
            <div class="col-sm-3" style="border: 1px solid; display: flex; flex-direction: column;"  >
                <span style="margin-bottom: 10px;" > USERNAME: {{user.username}} </span>
                <span style="margin-bottom: 10px;" > EMAIL: {{user.email}} </span>
                <span style="margin-bottom: 10px;" > PUBLICATIONS: {{user.posts.length}} </span> 
                
                 
            </div>
            <div class="col-sm-6" style="border: 1px solid;" >
                
            </div>
            <div class="col-sm-3" style="border: 1px solid;" >
                THREE
            </div>
        </div>
    </div>
</div>